body {
    background-color: black;
    font-family: 'Courier New', monospace;
    color: #C0C0C0; /* Cambiamos el color del texto a gris */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    display: flex; /* Cambiamos a flexbox */
    align-items: center; /* Centramos los elementos verticalmente */
}

.imagen-persona {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px; /* Agregamos un margen a la derecha de la imagen */
}

.nombre {
    font-size: 24px;
    margin-top: 0; /* Quitamos el margen superior */
}

.redes-sociales {
    margin-top: 10px; /* Ajustamos el margen superior */
}

.enlace-red-social {
    color: #C0C0C0; /* Cambiamos el color del enlace a gris */
    text-decoration: none;
    margin: 0 10px;
}

.enlace-red-social:hover {
    text-decoration: underline;
}
